body {

}

.topicList__likeImg {
    height: 15px;
    margin: 0 5px;
    float: right;

    &:hover {
        cursor: pointer;
    }
}

.addTopicForm {
    margin: 26px 0 30px 0;

    h3 {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
    }

    input {
        margin: 0 15px;
    }

}

.newTalkForm {
    margin: 30px 0;

    h3 {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
    }

    .ReactTags__tagInput input, .ReactTags__tagInput input:focus {
        font-size: 15px;
    }

    .rdt > input:read-only{
        background-color: white;
    }
}

.topicsContainer{
    min-height: 300px;
    display:table;
    width:100%;
}

.topicList {
    margin: 20px 0;
    overflow: auto;
}

.nextTalks {
    display: flex;
    flex-direction: column;

    .list-group-item {
        min-height: 110px;
        flex: 1;
    }

    .list-group-item-text {
        margin: 5px 0;
    }

    .nextTalksItem__description {
        margin: 10px 0;
    }
}

.newTalkForm__header, .nextTalks__header {
    margin-bottom: 20px;
    text-decoration: underline;
}

.nextTalksItem__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nextTalksItem__date {
    font-style: italic;
    position: absolute;
    bottom: 7px;
    right: 10px;
}
.form-signin {
  padding: 0px 15px 15px 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-nav.navbar-right .btn{
    margin-top: 10px;
    margin-right: 5px;
    font-weight: 800;
}
.customizePanelHeading{
    height: 40px;
}
.loginClose{
    padding-right:13px !important;
}